.container-tables {
  width: var(--default-width);
  background-color: var(--default-background-color);
  overflow: var(--default-overflow);
  padding: var(--default-padding);
  height: var(--default-height);
}

.p-dialog-header {
  padding: 5px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.container-tables .p-toolbar {
  background-color: var(--default-background-color);
  width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 1000px) {
  .container-tables {
    padding: 2rem 2.1rem 1rem;
  }
}

@media only screen and (max-width: 950px) {
  .container-tables .p-datatable {
    width: 100%;
    padding: 10px;
  }

  .container-tables .p-toolbar {
    margin-top: 70px;
  }

  .container-tables .datatable-crud-demo .p-toolbar {
    flex-wrap: wrap;
  }

  .container-tables .datatable-crud-demo .table-header {
    flex-direction: column;
  }

  .container-tables .datatable-crud-demo .table-header .p-input-icon-left,
  .container-tables .datatable-crud-demo .table-header input {
    width: 100%;
  }

  .container-tables {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
}

@media only screen and (max-width: 560px) {
  .container-tables {
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  .container-tables .p-datatable {
    width: 100%;
    padding: 10px;
  }

  .container-tables .p-toolbar-group-right {
    margin-top: 10px;
  }

  .container-tables .p-toolbar-group-right,
  .container-tables .p-input-icon-left,
  .container-tables .p-input-icon-left input,
  .container-tables .p-toolbar-group-left,
  .container-tables .p-toolbar-group-left button {
    width: 100%;
  }
}
