.container-tables {
    width: 100%;
    height: 100vh;
    padding: 2rem 7rem 1rem;
    background-color: var(--primary-100);
    margin-left: 16rem;
    overflow: auto;
}

.p-dialog-header {
    padding: 5px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.container-tables .p-toolbar {
    background-color: var(--primary-100);
    width: 100%;
    margin-bottom: 20px;
}

@media (max-width: 1000px) {
    .container-tables {
        padding: 2rem 2.1rem 1rem;
    }
}