.login-main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.img-box {
    width: 100%;
    height: 100%;
    background-color: var(--primary-500);
    padding: 20px;
}

.img-box img {
    width: 100%;
    height: 100%;
}

@media (max-width:868px) {
    main .img-box {
        display: none;
    }
}