.login-main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.img-box {
  width: 60%;
  height: 100%;
  background-color: var(--theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box img {
  width: 100%;
  height: 100%;
}

@media (max-width: 868px) {
  main .img-box {
    display: none;
  }
}
