.change-password-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.change-password-container .img-box {
    width: 60%;
    height: 100%;
    background-color: var(--primary-500);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.change-password-container .img-box img {
    width: 100%;
    height: 100%;
}

@media (max-width:868px) {
    .change-password-container .img-box {
        display: none;
    }
}