.container-categories {
  width: var(--default-width);
  background-color: var(--default-background-color);
  overflow: var(--default-overflow);
  padding: var(--default-padding);
  height: var(--default-height);
}

.container-categories .p-toolbar {
  width: 100%;
  margin-bottom: 20px;
  background-color: var(--default-background-color);
}

.container-categories .panel {
  border-radius: 8px;
  width: 100%;
  box-shadow: 1px 5px 8px -1.4px rgba(0, 0, 0, 0.065);
}

.container-categories .page-title {
  font-weight: 500;
  color: rgb(63, 70, 77);
  margin-bottom: 18px;
  font-size: 1.45em;
}

.container-categories .datatable-crud-demo .product-image {
  width: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.container-categories .datatable-crud-demo .p-dialog .product-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}

.container-categories .datatable-crud-demo .confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-categories .panel .p-fieldset .p-fieldset-legend {
  background-color: #ffff33;
}

.container-categories .panel .p-fieldset {
  margin-bottom: 10px;
}

.container-categories .categories-action .p-inputswitch {
  margin-left: 5px;
  margin-bottom: 10px;
}

.container-categories .tag {
  font-weight: 500;
  border-radius: 16px;
  text-align: center;
  padding: 4px;
}

.container-categories .active-tag {
  background-color: rgb(219, 241, 220);
  color: rgb(99, 133, 99);
}

.container-categories .inactive-tag {
  background-color: rgb(250, 242, 195);
  color: rgb(134, 125, 92);
}

@media only screen and (max-width: 950px) {
  .container-categories .panel .p-fieldset {
    margin: 10px;
  }

  .container-categories .p-datatable {
    width: 100%;
    padding: 10px;
  }

  .container-categories .datatable-crud-demo .p-toolbar {
    flex-wrap: wrap;
  }

  .container-categories .datatable-crud-demo .table-header {
    flex-direction: column;
  }

  .container-categories .datatable-crud-demo .table-header .p-input-icon-left,
  .container-categories .datatable-crud-demo .table-header input {
    width: 100%;
  }

  .container-categories {
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  .container-categories .panel {
    width: 100%;
  }

  .container-categories .categories-action {
    flex-direction: row;
    justify-content: end !important;
    align-items: flex-end !important;
  }
}

@media only screen and (max-width: 560px) {
  .container-categories {
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  .container-categories .panel {
    width: 100%;
  }

  .container-categories .p-datatable {
    width: 100%;
    padding: 10px;
  }

  .container-categories .panel {
    width: 100%;
  }

  .container-categories .p-toolbar-group-right {
    margin-top: 10px;
  }

  .container-categories .p-toolbar-group-right,
  .container-categories .p-input-icon-left,
  .container-categories .p-input-icon-left input,
  .container-categories .p-toolbar-group-left,
  .container-categories .p-toolbar-group-left button {
    width: 100%;
  }

  .container-categories .categories-action {
    flex-direction: row;
    justify-content: end !important;
    align-items: flex-end !important;
  }
}
