.modal-requester-product .product-header i {
    font-size: 20px;
    background-color: rgb(246, 246, 246);
    border-radius: 20px;
    cursor: pointer;
}

.modal-requester-product .product-header i:hover {
    opacity: 0.5;
}

.modal-requester-product .requester-product-content {
    margin-top: 20px;
}

.modal-requester-product .requester-product-content .title {
    font-size: medium;
}

.modal-requester-product .requester-product-content .description {
    font-size: small;
}

.modal-requester-product .requester-product-comment {
    margin-top: 15px;
}

.modal-requester-product .requester-product-comment p {
    font-size: smaller;
}

.modal-requester-product .requester-product-comment textarea {
    margin-top: 8px;
    padding: 15px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    width: 100%;
    outline: none;
    resize: none;
    font-size: smaller;
}

.modal-requester-product .requester-product-footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 20px;
}

.modal-requester-product .requester-product-footer .quantity {
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 80px;
}

.modal-requester-product .requester-product-footer .quantity svg {
    font-size: 10px;
    cursor: pointer;
}

.modal-requester-product .requester-product-footer .quantity svg:hover {
    opacity: 0.5;
}

.modal-requester-product .requester-product-footer .quantity .quantity-value {
    padding: 5px 20px;
}