.navbar {
    background-color: var(--primary-900);
    transition: width 600ms ease;
    height: 100vh;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    width: 100%;
    margin-bottom: 0.3rem;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 4rem;
    color: var(--primary-100);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);

}

.nav-link:hover, .nav-active {
    filter: grayscale(0%) opacity(1);
    background: var(--primary-800);
    color: var(--primary-50);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link i {
    width: 1rem;
    min-width: 0.5rem;
    margin: 0 1.5rem;
    font-size: 1.5em;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    text-align: center;
    color: var(--primary-50);
    background: var(--primary-800);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

@media only screen and (max-width: 950px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    .principal-main {
        margin: 0;
    }
}

/* Large screens */
@media only screen and (min-width: 950px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
        position: absolute;
    }

    .navbar {
        width: 16rem;
    }

    .navbar .link-text {
        display: inline;
    }

    .navbar .logo-text {
        left: 0px;
    }
}