.spinner-loading {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255, 0.33);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

.spinner-loading div svg {
    fill: var(--primary-900);
}