.container-deliveries {
  width: var(--default-width);
  background-color: var(--default-background-color);
  overflow: var(--default-overflow);
  padding: var(--default-padding);
  height: var(--default-height);
}

.container-deliveries h1 {
  color: rgb(42, 41, 44);
  margin-bottom: 20px;
}

@media only screen and (max-width: 950px) {
  .container-deliveries {
    margin: 0;
    padding: 10px;
    height: 100vh;
  }

  .container-deliveries .order-component {
    width: 100%;
  }
}
