.container-dashboards {
  width: var(--default-width);
  padding: var(--default-padding);
  background-color: var(--default-background-color);
  overflow: var(--default-overflow);
  height: var(--default-height);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-dashboards .p-calendar {
  width: 50%;
}

.container-dashboards h1 {
  text-align: center;
}

.dashboards-content {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 80%;
}

.dashboards-content .p-chart {
  width: 45%;
}

@media only screen and (max-width: 950px) {
  .container-dashboards {
    padding: 10px;
    height: 100vh;
  }

  .container-dashboards .p-calendar {
    width: 50%;
  }
}

@media only screen and (max-width: 750px) {
  .container-dashboards {
    padding: 10px;
    height: 100vh;
  }

  .container-dashboards .p-calendar {
    width: 80%;
  }

  .dashboards-content {
    margin: 0;
    width: 100%;
  }

  .dashboards-content .p-chart {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .container-dashboards {
    padding: 10px;
    height: 100vh;
  }

  .container-dashboards .p-calendar {
    width: 100%;
  }

  .dashboards-content {
    margin: 0;
    width: 100%;
  }

  .dashboards-content .p-chart {
    width: 100%;
  }
}
