.container-dashboards {
  width: var(--default-width);
  padding: var(--default-padding);
  background-color: var(--default-background-color);
  overflow: var(--default-overflow);
  height: var(--default-height);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-dashboards .cards {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.container-dashboards .p-calendar {
  width: 50%;
}

.container-dashboards h1 {
  text-align: center;
}

.dashboards-content {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 80%;
}

.container-dashboards .dashboards {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}

.container-dashboards .dashboard-c {
  width: 95%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.dashboards-content .p-chart {
  width: 100%;
}

@media only screen and (max-width: 950px) {
  .container-dashboards {
    /* padding: 10px; */
    height: 100vh;
  }

  .container-dashboards .p-calendar {
    width: 50%;
  }

  .container-dashboards .cards {
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 750px) {
  .container-dashboards {
    /* padding: 10px; */
    height: 100vh;
  }

  .container-dashboards .p-calendar {
    width: 80%;
  }

  .dashboards-content {
    margin: 0;
    width: 100%;
  }

  .dashboards-content .p-chart {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .container-dashboards {
    /* padding: 10px; */
    height: 100vh;
  }

  .container-dashboards .p-calendar {
    width: 100%;
  }

  .dashboards-content {
    margin: 0;
    width: 100%;
  }

  .dashboards-content .p-chart {
    width: 100%;
  }
}
