@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --default-padding: 5rem 7rem 3.75rem;
  --default-height: 100vh;
  --default-width: 100%;
  --default-overflow: auto;
  --default-background-color: #fafafa;

  --primary-color: #fff;

  /* Theme */
  --theme-color: #3d3d3d;
  --theme-fontColor: #fff;
  --theme-secondaryColor: #555555;
  --theme-secondaryFontColor: #fff;
  /* --theme-tertiaryFontColor: string; */
}

* {
  margin: 0px;
  border: 0px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  font-size: 14px;
}

.principal-container {
  font-size: 16px;
  font-family: 'Open Sans';
  --transition-speed: 600ms;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  height: 100%;
  overflow: auto;
}

.p-datatable .p-datatable-thead > tr > th {
  background-color: var(--primary-600);
  color: var(--primary-50);
}

.p-datatable .p-datatable-thead > tr > th:first-child {
  border-top-left-radius: 8px;
}

.p-datatable .p-datatable-thead > tr > th:last-child {
  border-top-right-radius: 8px;
}

.p-datatable .p-datatable-tbody > tr {
  background-color: white;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  font-size: 13px !important;
}

.p-datatable .p-datatable-tbody .p-row-odd {
  background-color: rgb(253, 253, 253) !important;
}

.p-datatable .p-datatable-tbody > tr > td {
  border: 0px;
}

.p-datatable-thead > tr > th {
  background-color: var(--theme-secondaryColor) !important;
  color: var(--theme-secondaryFontColor) !important;
  font-weight: 500 !important;
}

.p-button {
  background-color: var(--theme-secondaryColor) !important;
  color: var(--theme-secondaryFontColor) !important;
}

.p-toolbar {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 15px;
}

.p-toolbar-group-left {
  font-size: 20px;
  font-weight: 500;
  color: rgb(50, 50, 50);
}

/* Small screens */
@media only screen and (max-width: 950px) {
  .principal-container {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #999;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.p-inputswitch-slider {
  background-color: var(--theme-secondaryColor) !important;
}

.p-inputswitch-slider::before {
  background-color: var(--theme-color) !important;
}
