.container-orders {
  width: var(--default-width);
  background-color: var(--default-background-color);
  overflow: var(--default-overflow);
  padding: var(--default-padding);
  height: var(--default-height);
}

.container-orders h1 {
  color: rgb(42, 41, 44);
  margin-bottom: 20px;
}

@media only screen and (max-width: 950px) {
  .container-orders {
    margin: 0;
    padding: 10px;
    height: 100vh;
  }

  .container-orders .p-toolbar {
    margin-top: 70px;
  }

  .container-orders .order-component {
    width: 100%;
  }
}
