.employee-dialog-groups {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.employee-dialog-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px;
}

.employee-dialog-group>* {
    margin: 10px;
}

.employee-dialog-group .p-float-label,
.employee-dialog-group .p-float-label input,
.employee-dialog-group .p-float-label .p-password,
.employee-dialog-group .p-float-label .p-dropdown,
.employee-dialog-group .p-float-label .p-calendar {
    width: 100%;
}

.group-street> :first-child {
    width: 80%;
}

.group-street> :last-child {
    width: 20%;
}

@media only screen and (max-width: 950px) {
    .employee-dialog-group {
        flex-wrap: wrap;
        margin: 0;
    }

    div.group-street * {
        width: 100% !important;
    }

    .employee-dialog-group>* {
        margin: 5px;
    }
}